@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #0f4252;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    color: white;
    text-align: center;
}

div h3{
    font-size: 20px;
    font-weight: 500;
}

div button{
    border: none;
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 6px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

div button:hover{
     background-color: rgb(37, 36, 36);
}

b{
    color: #000000;
}