@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}

.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-container h1{
    font-weight: 400;
    font-size: 18px;
    color: #555;
    border-bottom: 1px solid #ccc;
    padding: 8px 0px;
}

.qr-code-image{
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-label{
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 15px;
    font-weight: 500;
}

input[type="text"]{
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    border: 2px solid #555;
    border-radius: 5px;
}

button{
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.generate-btn{
    background-color: #3498db;
}

.generate-btn:hover{
    background-color: #2e7baf;
}

.generate-btn:disabled{
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.download-btn{
    background-color: #27ae60;
    margin: 10px;
}

.download-btn:hover{
    background-color: #239e56;
}

.footer{
    margin-top: 30px;
}

.footer a{
    text-decoration: none;
    color: #3498db;
}